{% extends "layouts/base.html" %}

{% block content %}
    <h2>Hola {{ request.user.first_name }}</h2>
    <a href="{% url 'signout' %}">Cerrar sesión</a>
    <h3>Tus semanas:</h3>
    <ol>
    {% for semana in semanas %}
        <li>{{ semana }}</li>
    {% endfor %}
    </ol>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'home' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Generar"/>
    </form>
{% endblock %}